/* .all-buttons {
  display: flex;
  flex-direction: column;
} */
.all-buttons {
  display: grid;
  grid-template-columns: repeat(3);
  gap: 10px;
}
.all-buttons .box2 {
  /* margin-bottom: 0.75rem; */
  padding: 0.5rem 1.5rem;
}

@media (max-width: 750px) {
  .all-buttons {
    display: flex;
  }
  .all-buttons .box2 {
    padding: 0.5rem 1rem;
    /* margin: 0 6px; */
  }
}
@media (max-width: 380px) {
  .all-buttons {
    display: grid;
  }
}
